/********* RESET **********/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/********* COMMON **********/

.container{
    margin: 0 auto;
    max-width: 1380px;
}

body{
    font-family: 'Roboto', sans-serif;
}


/********* HEADER **********/



/********* MAIN **********/

.catalog{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    
}

.product{
    width:calc((100% - 20px) / 3);
}

.product-img img{
    width: 100%;
    display: block;
}


.product-info{
    font-size: 14px;
    padding-top: 5px;
}

.product-info h5{
    font-size: 18px;
    margin: 3px 0px;
}

.product-info .price{
    color: red;
}

.product-info .oldprice{
    text-decoration: line-through;
}

/********* FOOTER **********/