/********* RESET **********/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/********* COMMON **********/

.container{
    margin: 0 auto;
    max-width: 1380px;
}

body{
    font-family: 'Roboto', sans-serif;
}


/********* HEADER **********/



/********* MAIN **********/

.catalog{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    
}

.product{
    width:calc((100% - 20px) / 3);
}

.product-img{
    position: relative;
}

.product-img img{
    width: 100%;
    display: block;
    position: relative;
}

.product-img .tags,
.product-img .favorite{
    position: absolute;
}

.product-img .favorite{
    top: 10px;
    right: 0;
    background-color: white;
    padding: 10px;
}

.product .tags{
    bottom: 40px;
    left: 0;
}

.product .tags .tag{
    color: white;
    padding: 5px 10px;
    font-size: 12px;
    font-weight: bold;
}

.product .tags .tag.sale{
    background-color: red;
}

.product .tags .tag.sostenibility{
    background-color: green;
}

.product-info{
    font-size: 14px;
    padding-top: 5px;
}

.product-info h5{
    font-size: 18px;
    margin: 3px 0px;
}

.product-info .price{
    color: red;
}

.product-info .oldprice{
    text-decoration: line-through;
}

/********* FOOTER **********/